 :root {
     --font-m: "Montserrat", sans-serif;
     --primary-color: #014073;
     --orange-color: #FB8F40;
     --deep_blue: #050B20;
 }

 .top-offer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 14px;
     font-weight: 500;
     color: #fff;
     text-align: center;
     transition: all 0.3s ease;
 }

 .border_outline_ns {
     border: 2px solid var(--primary-color) !important;
     color: var(--primary-color !important);
 }

 .top-offer .left {
     flex: 1;
     background: #003366;
     padding: 6px 0;
     text-align: right;
     padding-right: 2rem;
     font-weight: 500;
     font-size: 16px;
 }

 .top-offer .right {
     flex: 1;
     background: #ff7f2a;
     padding: 6px 0;
     text-align: left;
     padding-left: 2rem;
     font-weight: 500;
     font-size: 16px;
 }

 /* .top-offer .right::after{
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 45px;
    height: 100%;
    position: absolute;
    background-color: var(--orange-color);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
 } */




 .top-offer .countdown {
     font-weight: 600;
     letter-spacing: 1px;
 }

 /* ====== Header ====== */
 .navbar {
     background: #fff;
     transition: all 0.3s ease;
     box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
     padding: 0.8rem 1rem;
 }

 .navbar-brand img {
     height: 34px;
 }

 .navbar-nav .nav-link {
     color: var(--deep_blue) !important;
     font-weight: 400;
     padding: 10px 15px;
     transition: color 0.3s;
     font-size: 16px;
 }

 .navbar-nav .nav-link.active,
 .navbar-nav .nav-link:hover {
     color: #ff7f2a !important;
 }

 /* Buttons */
 .btn-outline {
     border: 1px solid #ddd;
     border-radius: 8px;
     padding: 6px 14px;
     font-weight: 500;
     display: flex;
     align-items: center;
     gap: 6px;
     transition: all 0.3s ease;
     color: #333;
     text-decoration: none;
     font-size: 16px;
 }

 .btn-outline:hover {
     background: #f5f5f5;
 }

 /* Sticky header behavior */
 .sticky {
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 999;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
 }

 .hide-topbar {
     transform: translateY(-40px);
     opacity: 0;
     visibility: hidden;
 }

 /* ====== Offcanvas ====== */
 @media (max-width: 991px) {
     .navbar-collapse {
         background: #fff;
         border-radius: 10px;
         box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
         padding: 15px;
     }

     .btn-outline {
         width: 100%;
         justify-content: center;
         margin-top: 10px;
     }
 }