* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


}

:root {
    --font-m: "Montserrat", sans-serif;
    --primary-color: #014073;
    --orange-color: #FB8F40;
    --deep_blue: #1E1D4C;
    --banner-top-header: #14183EBF;
}

body {
    font-size: 100%;
    font-family: var(--font-m);
}

html {
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

/* ***** hero section *******  */

/* ============ SECTION STYLING ============ */
.hosting-section {
    /* background-color: #fff; */
    padding: 80px 0;
    text-align: center;
    position: relative;
    overflow: hidden;

    background-image: url(../img/home/home_hero_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hosting-section h5 {
    color: var(--banner-top-header);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 40px;
}

.hosting-section h2 {
    font-size: 50px;
    font-weight: 800;
    margin-top: 10px;
    color: var(--primary-color);
}

.hosting-section h2 span {
    font-size: 50px;
    font-weight: 800;
    margin-top: 10px;
    color: var(--primary-color);
}

.hosting-section h2 span::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #ff8c00;
    border-radius: 50%;
    right: -10px;
    top: 14px;
}

.hosting-section p {
    color: #666;
    font-size: 20px;
    margin: 20px 0 30px;
    font-weight: 500;
}

/* Trust Cards */
.trust-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.trust-card {
    border: 2px solid #D7D7D7;
    border-radius: 10px;
    padding: 12px 20px;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    flex-direction: column;
}

.trust-card img {
    height: 45px;
}

.trust-card span {
    font-size: 14px;
    color: #555555;
    font-weight: 500;
}

/* Button */
.hosting-section .btn-view {
    background: #FB8F40;
    background: linear-gradient(270deg, rgba(251, 143, 64, 1) 0%, rgba(227, 181, 55, 1) 100%);
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    padding: 12px 35px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.hosting-section .btn-view:hover {
    background: linear-gradient(90deg, #ff7b00, #ff9a00);
    transform: translateY(-2px);
}

/* Bottom Info Icons */
.info-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.info-box {
    text-align: center;
}

.info-box i {
    font-size: 28px;
    color: #ff8c00;
    margin-bottom: 10px;
}

.info-box h6 {
    font-size: 15px;
    font-weight: 600;
    color: var(--deep_blue);
}

.info-box p {
    font-size: 14px;
    color: #777;
    margin: 0;
}


/* .hosting-section::before,
.hosting-section::after {
    content: "";
    position: absolute;
    background: url('https://i.ibb.co/Bgf8tbg/server-bg.png') no-repeat;
    background-size: contain;
    opacity: 0.1;
    z-index: 0;
} */

.hosting-section::before {
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

.hosting-section::after {
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
}


/* ******************* perfect plnaed ***************  */
.global_padding {
    padding: 60px 0;
}

.pricing-section {
    text-align: center;
    ;
    /* background-color: #f9fafc; */
}

.headline {
    font-size: 50px;
    color: var(--primary-color);
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.headline span {
    color: #ff7a00;
}

.para {
    color: #555;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.billing-toggle {
    margin-top: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 30px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.billing-toggle button {
    border: none;
    background: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    transition: 0.3s;
}

.billing-toggle button.active {
    background: var(--primary-color);
    color: #fff;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
    text-align: left;
}

.plan {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    padding: 30px 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    transition: 0.3s;
}

.plan.popular {
    border: 2px solid #007bff;
}

.badge {
    position: absolute;
    top: -5px;
    left: 30%;
    transform: translateX(-50%);
    /* background: #007bff; */
    color: #007bff;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 20px;
    font-weight: 600;

}

.badge_icon {
    font-size: 25px;
    margin-right: 0.3rem;
}

.plan h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0.5rem;
}

.plan p {
    color: #777;
    font-size: 13px;
    margin-bottom: 25px;
}

.price {
    font-size: 32px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.price span {
    font-size: 14px;
    color: var(--primary-color);
    margin-left: 0.2rem;
}

.save {
    color: #00b67a;
    font-size: 13px;
    margin-bottom: 20px;
    display: inline-block;
    background-color: #A2FFC8;
    padding: 4px 10px;
    font-weight: 600;
}

.choose-btn {
    background: #FB8F40;
    border: none;
    color: #fff;
    padding: 8px 25px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 25px;
    width: 100%;
    font-size: 18px;
}

.choose-btn:hover {
    background: #ff9a33;
}

.features {
    text-align: left;
    font-size: 14px;
    color: #555;
}

.features li {
    list-style: none;
    margin-bottom: 10px;
}

.features li i {
    color: #555;
    margin-right: 8px;
}

@media (max-width: 900px) {
    .plans {
        flex-direction: column;
        align-items: center;
    }
}

/* **** featued section *******  */



.features-section {

    text-align: center;
}

.sub_headline {
    color: var(--primary-color);
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 22px;
}





.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    justify-content: left;
}

.feature-box {
    background: var(--primary-color);
    border-radius: 14px;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    padding: 25px 20px; */
    transition: 0.3s ease;
}

.feature-box img {
    width: 100%;

    /* margin-bottom: 15px; */
}

.feature-box h4 {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
    margin-left: 1rem;
}

.feature-box i {
    color: #fff;
    font-size: 18px;
}

.feature-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.f_box {
    height: 60px;
    background-color: var(--primary-color);
    display: flex;
}


/* ****************** trusted part started ************  */

.trusted {
    text-align: center;
}

.trusted h4 {
    font-size: 22px;
    color: #555;
}

.trusted span {
    font-size: 22px;
    color: var(--primary-color);
    font-weight: bold;
}

.trusted-carousel img {
    aspect-ratio: 1/ 1;
    object-fit: contain;
    width: 20%;
}